@charset "utf-8";
/* CSS Document */
body,html{
	margin:0px;
	height:0px;
}
.container1{
	position: absolute;
}
.logo-page{
	width:400;
	height:90px;
	margin:0px;
}
.top-page{
	width:100%;
	height:90px;
	margin-bottom:0px;
	position:fixed;
	z-index: 1;
	background-color: white;
	box-shadow: 1px 1px rgba(205,198,198,0.5);
}
.logo{
	float:left;
	margin-right:250px;
}
.giaongay{
	margin:20px;
	height:50px;
	width:150px;
	border:1px solid rgba(179,179,179,0.40);
	background-color:white;
	outline: none;
	cursor: pointer;
	float:left;
}
.giaongay:hover{
	border:1px solid rgba(179,179,179,1.00);
}
.input-text{
	margin-top:20px;
	width:300px;
	height:45px;
	outline: none;
}
.input-text:focus{
	border:1px solid rgba(237,134,54,1.00);
}
.inputtext{
	float:left;
	margin-right:100px;
}
.dang-nhap{
	margin:20px;
	height:45px;
	width:150px;
	border:1px solid rgba(179,179,179,0.40);
	background-color:white;
	outline: none;
	cursor: pointer;
	float:left;
}
.tron{
	border-radius: 50%;
	outline: none;
	border:0px;
	background-color:orange;
	color:white;
}
.dang-nhap:hover{
	border:1px solid rgba(179,179,179,1.00);
}
.body-page{
	margin-top:60px;
	background-color:rgba(205,198,198,0.1);
	width:100%;
	clear:both;
}
.list-menu{
	list-style-type: none;
}
.list{
	width:300px;
	height:300px;
	background-color:white;
	margin-right:10px;
	margin-top:50px;
	margin-left:150px;
	float:left;
	position:fixed;
	box-shadow: 2px 2px 2px 2px rgba(205,198,198,0.5);
}
li{
	margin-bottom:20px;
	cursor: pointer;
}
li:hover{
	color:orange;
}
.main-content{
	float:left;
	margin-left:520px;
	width:500px;
	height:auto;
	margin-top:60px;
}
.tea{
		box-shadow: 2px 2px 2px 2px rgba(205,198,198,0.5);
	background-color:white;
}
.tea1{
	margin-right:10px;
	float:left;
}
.tea1 img{
	width:80px;
	height:80px;
	margin-top:10px;
	margin-left:10px;
}
.name{
	margin:0px;
	margin-top:10px;
}
.name-2{
	margin:0px;
	margin-top:5px;
	color:rgba(153,153,153,1.00);
}
.price{
	margin-left:100px;
	margin-top:0px;
	color:red;
}
.button-add{
	border-radius: 50%;
	color:rgba(239,165,44,1.00);
	background-color: white;
	outline: none;
	border:1px solid rgba(239,165,44,1.00);
	cursor: pointer;
}
.invoice{
	float:left;
	margin-left:100px;
	margin-top:60px;
	width:300px;
	height:auto;
	position: fixed;
	top:60px;
	right:100px;
	background-color:white;
	box-shadow: 2px 2px 2px 2px rgba(205,198,198,0.5);
}
.invoice-s-stt{
	width:10px;
}
.invoice-s-name{
	width:150px;
}
.invoice-s{
	width:90px;
}
.number-pro{
	width:190px;
	text-align: left;
}
.product button{
	border-radius:50%;
	outline: none;
	background-color:rgba(244,165,15,1.00);
	color:white;
	border:none;
	cursor: pointer;
}
.mobile{
	width:100%;
	height:30px;
	background-color:rgba(0,0,0,1.00);
	position:fixed;
	bottom:0px;
}
#text-caution{
	margin-top:200px;
	margin-left:580px;
	position: fixed;
	box-shadow: 2px 2px rgba(181,181,181,1.00) ;
	width:0px;
	height:0px;
	background-color:white;
	opacity:0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-webkit-animation:fadein 2s;
}
.top-caution
{
	margin:0px;
	width:100%;
	height:50px;
	background-color:orange;
}
.phone{
	outline:none;
	border:1px solid rgba(181,181,181,1.00) ;
	border-radius: 2px;
	transition-property: box-shadow;
	transition-duration:0.2s;
}
.phone:focus{
	box-shadow: 1px 1px 1px 1px rgba(83,232,230,1.00);
}
.sent{
	color:white;
	background-color:rgba(77,212,105,1.00);
	border:0px;
	border-radius:2px;
	outline: none;
	cursor:pointer;
}
.thanks{
	opacity:0;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-webkit-animation:fadein 2s;
}
.tempt{
	opacity:0;
	background-color:rgba(0,0,0,1.00);
	width:100%;
	height:100%;
	position:absolute;
	z-index: -1;
}
.back{
	position:fixed;
	right:639px;
	top:200px;
	z-index: 1;
	background-color:black;
	color:orange;
	cursor: pointer;
	outline: none;
	border:0px;
}
/*dang nhap*/
.inputuser, .inputpass {
    width: 100%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: white;
	border:1px solid rgba(235,158,14,1.00);
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 50%; 
}
.login{
	border:1px solid rgba(245,174,39,1.00);
	outline:none;
	cursor: pointer;
	background-color:white;
}
/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
/* Change styles for span and cancel button on extra small screens */
@media only screen and (max-width: 768px) {
	.top-page{
		width:100%;
		height:90px;
	}
	.list{
		height:0px;
		width:0px;
	}
	.list-menu
	{
		display:none;
	}
	.main-content{
		float:left;
		width:500px;
		margin-left:0px;
		height:auto;
		margin-top:60px;
	}
	.input-text{
		margin:20px;
		width:160px;
		height:40px;
		outline: none;
		border:1px solid rgba(152,151,151,1.00);
	}
	.logo{
		float:left;
		margin-right:30px;
	}
	.giaongay{
		margin:20px;
		height:50px;
		width:150px;
		border:1px solid rgba(179,179,179,0.40);
		background-color:white;
		outline: none;
		cursor: pointer;
		float:left;
	}
	.dang-nhap{
		margin:0;
		height:0;
		width:0;
		border:1px solid rgba(179,179,179,0.40);
		background-color:white;
		outline: none;
		cursor: pointer;
		clear:both;
		display:none;
	}
	.modal{
		width:0px;
		height:0px;
		display: none;
	}
	.invoice{
		clear:both;
		width:200px;
		position: fixed;
		right:50px;
		background-color:white;
		box-shadow: 2px 2px 2px 2px rgba(205,198,198,0.5);
	}
	#text-caution{
		margin-top:200px;
		margin-left:200px;
		position: absolute;
		box-shadow: 2px 2px rgba(181,181,181,1.00) ;
		width:300px;
		height:300px;
		background-color:white;
		opacity:0;
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 1s;
		-webkit-animation:fadein 2s;
	}
	.back{
		position:absolute;
		right:0px;
		top:0px;
		z-index: 1;
		background-color:black;
		color:orange;
		cursor: pointer;
		outline: none;
		border:0px;
	}
}

@media only screen and (max-width: 500px) {
	.top-page{
		width:100%;
		height:90px;
	}
	.body-page{
		margin-top:100px;
		background-color:rgba(205,198,198,0.1);
		width:100%;
		clear:both;
	}
	.list{
		height:0px;
		width:0px;
	}
	.list-menu
	{
		display:none;
	}
	.main-content{
		float:left;
		width:500px;
		margin-left:0px;
		height:auto;
		margin-top:60px;
	}
	.input-text{
		width:150px;
		height:40px;
		outline: none;
		z-index: -1;
		position: fixed;
		border:1px solid rgba(152,151,151,1.00);
	}
	.logo{
		float:left;
		margin-right:0px;
	}
	.giaongay{
		margin:20px;
		height:50px;
		width:150px;
		border:1px solid rgba(179,179,179,0.40);
		background-color:white;
		outline: none;
		cursor: pointer;
		float:left;
	}
	.dang-nhap{
		margin:0;
		height:0;
		width:0;
		clear:both;
		display:none;
	}
	.invoice{
		clear:both;
		width:0px;
		height:0px;
		display:none;
	}
	#text-caution{
		margin-top:200px;
		margin-left:200px;
		position: absolute;
		box-shadow: 2px 2px rgba(181,181,181,1.00) ;
		width:300px;
		height:300px;
		background-color:white;
		opacity:0;
		-webkit-transition-property: opacity;
		-webkit-transition-duration: 1s;
		-webkit-animation:fadein 2s;
	}
	.back{
	position:absolute;
	right:0px;
	top:0px;
	z-index: 1;
	background-color:black;
	color:orange;
	cursor: pointer;
	outline: none;
	border:0px;
	}
}
